__pycache__
*.pyc

logs/
db/
backend/*/migrations/*
!backend/*/migrations/__init__.py

.env.pro
deploy.yml
nginx.conf

fabfile.py
deploy.py

backend/static/*
backend/media/*
!/backend/static/bower_components/
!/backend/static/base/

cli.py
config.yml
demo/

*.pid

node_modules/
